#20230416

format 함수를 사용한 포매팅

In [2]:
"i eat {0} apples.".format(3)

'i eat 3 apples.'

In [3]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

2개 이상의 값

In [5]:
number = 10
day = 'three'
"I eat {0} apples. so I was sick for {1} days.".format(number, day)

'I eat 10 apples. so I was sick for three days.'

In [6]:
"I eat {number} apples. so I was sick for {day} days.".format(number=7, day=2)

'I eat 7 apples. so I was sick for 2 days.'

In [7]:
"I eat {0} apples. so I was sick for {day} days.".format(5, day=3)

'I eat 5 apples. so I was sick for 3 days.'

## 문자열 포매팅

In [9]:
name = '홍길동'
age = 30
f'나의 이름은 {name}, 나이는 {age}입니다.'

'나의 이름은 홍길동, 나이는 30입니다.'

In [11]:
age = 30
f'나는 내녀이면 {age+1}이 된다.'

'나는 내녀이면 31이 된다.'

딕셔너리는 f문자열 포매팅에서 다음과 같이 사용할 수 있다.

In [13]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

문제. format함수 또는 f문자열 포매팅을 사용해 '!!!python!!!' 문자열을 출력해보자.

In [14]:
f'!!!python!!!'

'!!!python!!!'

In [16]:
f'{"pyhon":!^12}'

'!!!pyhon!!!!'

## 문자열 관련함수 : 문자열 내장함수

count  
find  
index  
join  
upper  
lower  
lstrip  
rstrip  
strip  
replace  
split

### 함수 중 lambda

lambda는 def와 동일한 역학  
보통 함수를 한 줄로 간결하게 만들 때 사용

사용방법 

  lambda 매개변수1, 매개변수2, ... : 매개변수를 사용한 표현식

In [21]:
add = lambda a, b : a + b
result = add(3,4)
print(result)

7

두개의 인수를 받아서 더한 값을 돌려주는 lambda함수
아래 def와 비교해보자

In [23]:
def add(a,b):
    result = a + b
    print(result)
    
add(3,4)

7

## Class

### Class 기초

In [49]:
class FourCal():
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result

In [58]:
class FourCal():
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result

    def div(self):
        if self.second == 0:
            return 0
        else:
            result = self.first / self.second
            return result

Class 안에서 구현된 함수는 매서드라 한다.   
클래스를 만들고, 매서드를 추가할 때 같은 셀 내에서 만들어야 제대로 작동한다는 것을 알 수 있다.

In [69]:
a=FourCal()
a.setdata(4,5)

In [70]:
a.add()

AttributeError: 'FourCal' object has no attribute 'add'

In [71]:
a.sub()

-1

In [72]:
a.mul()

20

In [73]:
a.div()

0.8

만약 위와 같이 add매소드를 만든 후 새로운 매소드를 추가하려면 Class 상속기능을 이용해야 한다.
Class를 덮어 씀으로 인해 현재 FourCal Class에는 add 매소드가 없다.  
add 매소드를 추가해 보자. 그리고 클래스의 이름은 그대로 해보겠다. 가능할 거 같다.

In [101]:
class FourCal(FourCal):
    def add(self):
        result = self.first + self.second
        return result

In [102]:
a.setdata(3,6)

In [103]:
a.add()

AttributeError: 'FourCal' object has no attribute 'add'

In [104]:
a.mul()

18

In [105]:
b=FourCal()
b.setdata(5,6)

In [106]:
b.add()

11

In [107]:
b.sub()

-1

In [108]:
a=FourCal()

In [111]:
a.mul()

AttributeError: 'FourCal' object has no attribute 'first'

동일한 이름으로 클래스 상속이 가능하다.  
다만 클래스 상속한 이후에 객체를 다시 만들어 줘야 한다.  
위에 mul에서 결과값이 나온것은... 저 위에 만들어진 객체에 의한 결과이다. add가 없는 객체...
b객체를 다시 만들었고 더하기와 빼기가 잘 계산된다. 
a객체를 다시 만들때는 setdata도 다시 만들어 줘야 한다.

### Class 현재까지 정리
class를 만들고 메소드를 정의할 때 같은 셀 내에서 코드를 작성해야 한다. 
다른 셀에서 코드를 작성하고 싶다면 상속을 받아서 작성해야 한다. 
상속받을 때 동일한 이름을 사용할 수 있다. 다만 상속받은 후 매소드를 작성하고 작동시키려면  
객체를 새로 만들어 줘야 한다. 물론 객체에 들어갈 변수값도 새로 넣어줘야 하겠지...   
따라서 불편하다. 가능하면 원래 클래스에서 매소드를 넣어주는 것이 편할 것 같다.