#20230416

format 함수를 사용한 포매팅

In [2]:
"i eat {0} apples.".format(3)

'i eat 3 apples.'

In [3]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

2개 이상의 값

In [5]:
number = 10
day = 'three'
"I eat {0} apples. so I was sick for {1} days.".format(number, day)

'I eat 10 apples. so I was sick for three days.'

In [6]:
"I eat {number} apples. so I was sick for {day} days.".format(number=7, day=2)

'I eat 7 apples. so I was sick for 2 days.'

In [7]:
"I eat {0} apples. so I was sick for {day} days.".format(5, day=3)

'I eat 5 apples. so I was sick for 3 days.'

## 문자열 포매팅

In [9]:
name = '홍길동'
age = 30
f'나의 이름은 {name}, 나이는 {age}입니다.'

'나의 이름은 홍길동, 나이는 30입니다.'

In [11]:
age = 30
f'나는 내녀이면 {age+1}이 된다.'

'나는 내녀이면 31이 된다.'

딕셔너리는 f문자열 포매팅에서 다음과 같이 사용할 수 있다.

In [13]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

문제. format함수 또는 f문자열 포매팅을 사용해 '!!!python!!!' 문자열을 출력해보자.

In [14]:
f'!!!python!!!'

'!!!python!!!'

In [16]:
f'{"pyhon":!^12}'

'!!!pyhon!!!!'

## 문자열 관련함수 : 문자열 내장함수

count  
find  
index  
join  
upper  
lower  
lstrip  
rstrip  
strip  
replace  
split